**Que 1:- What are data structure and why are they important?**

Ans:- Data structures are used to organize, manage, and store data efficiently so that it can be accessed and modified easily. They are used for designing efficient algorithms and solving complex programming problems.

Data structures are important because:-

-> Optimized Data Handling

-> Algorithms rely heavily on data structures. Without an appropriate data structure, even the best algorithm can perform poorly.

-> Built-in structures like lists, dictionaries, and sets allow Python developers to write cleaner, reusable, and readable code.

-> Proper data structures ensure that software can scale without degrading in performance, especially when handling large data.

**Que 2:- Explain the difference between mutable and immutable data types with example?**

Ans:- Mutable data types are those data types which can be changed after they are created whereas Immutable data types are those data types which cannot be changed after they are created.

->Some of mutable data types are list, dictionary, set.

Some of immutable data types are strings, int, float, tuple.

**Que 3:- What are the main differences between list and tuples in python
?**

Ans:- Main differences between list and tuple are:-

1- List are mutable whereas tuples are immutable.

2- List are represented by [] square brackets whereas tuple are represented by () round brackets.

3- List are slower in performance whereas tuple are faster in performance.

4- List requires more space whereas tuple require less memory space.

5- List are less safe whereas tuple are more safe.

**Que 4:- Describe how dictionaries store data.?**

Ans:- A dictionary in Python is an unordered collection of data in the form of key-value pairs.

Data in dictionary are store like:-



```
my_dict = {"Name": "Utkarsh", "Age": "28"}
```

In dictionary key must be unique and it uses hash table from behind.

***Que 5:- Why might you use a set instead of list in python?***

Ans:- A set is a built-in Python data structure that stores unordered, unique elements.

To use set instead of list:-

1- Sets only stores unique elements and automatically remove duplicates.

2- Sets are faster than list and are much more safer than lists.

3- Sets support mathematical operations like union, intersection, and difference which are not efficient with lists.

**Que 6:- What is a string in python, and how is it different from a list?**

Ans:- A string in python is a data type which stores values as characters, it can be numbers, letters etc.

-> Strings are assigned as
```
messege = "Hello utkarsh"
```
-> Strings are mutable its value can not be chnaged once stored.

-> Strings are different from list as

1- List has sequence of any data types while string only has character sequence.

2- List are mutable but strings are not.

3- Strings are represented in quotes " " while lists are represented as square brackets [ ].

**Que 7:- Why do tuples ensure data integrity in python?**

Ans:- Tuples in python ensures data integrity as they are immutable and their values can not be changed once assigned. This ensures to prevents accidental modification of data.

**Que 8:- What is a hash table, and how does it relates to dictionaries in python?**

Ans:- A hash table is a data structure which stores data as key value pairs and allow fast data access using a process called hashing.

-> In python dictionaries are implemented using hash table from behind.

-> Suppose here


```
my_dict = {"Name": "Utkarsh", "Age": "28"}
```

-> Here the key "Name" is passed through hash function which is used to generate index.

-> The index points at the memory where "Utkarsh" is stored.

-> So here its is working like hash table.

**Que 9 :- Can lists contain different data types in python?**

Ans:- Yes, lists can contain multiple data types in python.

As python is also dynamically typed a list can be like this

```
list1 = ["One", "Two", 3, False, 2.5]
```
-> A list can store string, boolean, integer, float any kind of data.

**Que 10:- Explain why strings are immutable in python?**

Ans:- Strings are very commonly used, immutability allows python to reuse the same memory location saving memory.

-> It is good for string to be immutable for thread safety so that no other thread can change another.

**Que 11:- What advantages do dictionaries offer over lists in python?**

Ans:- Some of the advantages are:-

-> Key based access to data which is better than list indexing.

-> Distionary uses hasing so retrieving data is much master using keys.

-> As it has key value pairs so data is much more organized.

**Que 12:- Describe a scenario where using a tuple would be preferable over a list?**

Ans:- Suppose I am making a computer vision based program for image editor and in open cv I need to store RGB color value for pixel.

color = (255, 0, 128) which is for pink

so here tuple is better than list as

-> A RGB always contains 3 numbers tuple ensures its structure.

-> Tuples are immutable so accidental modification is not possible here.

-> And in computer vision thousands of pixels can be used so here tuples uses less memory and are faster.

**Que 13:- How do sets handle duplicate values in python?**

Ans:- Sets automatically handle duplicate values and behind it uses the hashing technique which match the hash of the elements before adding anything.

**Que 14:- How does the "in" keyword works differently for lists and dictionaries?**

Ans:- The "in" keyword used in lists to check whether the value exist in list while in dictionaries it is used to check whether key exists or not.

**Que 15:- Can you modify the elements of a tuple? Explain why or why not?**

Ans:- No, elements of the tuple can not be modified because tuples are immutable in python means once assigned its value can not be changed or modified. They are immutable for data integrity like accidental change, and it uses hash and changing content may break the hash, to use less memory and space.

**Que 16:- What is a nested dictionary, and give an example of its use case?**

Ans:- A nested dictionary is a dictionary inside another dictionary it allows to store complex data just like nested json.

Example:-


```
students = {
    "S1": {"name": "Utkarsh", "age": 28, "grade": "A"},
    "S2": {"name": "Varun", "age": 27, "grade": "B"},
}
```

-> The use case here is a student can have multiple attributes so in these kinds of cases a nested dictionary is useful.

**Que 17:- Describe the time complexity of accessing elements in a dictionary?**

Ans:- Dictionaries uses hash tables which uses key value pairs for finding the value, there is no need to search through all the values so the time complexity of dictionary is O(1).

**Que 18:- In what situations are lists preferred over dictionaries?**

Ans:- Lists are preferred over dictionaries when:-

-> There is need of insertion order as lists maintains it to do access by index.

-> When duplicates are needed.

-> When sequential data is needed.

-> Lists are also more memory efficient for small data.

-> Lists support multiple data types.

**Que 19:- Why are dictionaries considered unordered, and how does that affect data retrieval?**

Ans:- Before python 3.7 dictionaries were totally unordered and keys and values could appear in any order, even if inserted sequentially.

From python 3.7 and above insertion order is preserved, the order in which items are added is the order we get when iterating. But logically dictionaries are considered unordered because it focus on key values based access for fater data fetching, not the sequence.

**Que 20:- Explain the difference between lists and dictionary in terms of data retrieval?**

Ans:- Some differences are:-

-> List do access by index whereas dictionary do access by key.

-> List time complexity is O(n) where as dictionary time complexity is O(1).

-> Lists are slow whereas dictionaries are fatser.

-> Lists store sequential data while dictionary do not focus on order.

# **Practical Questions Python**

In [ ]:
# Que 1:- Write a code to create a string with your name and print it."

name = "Utkarsh Mishra"
print(name)

Utkarsh Mishra

In [ ]:
# Que 2:- Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [ ]:
# Que 3:- Write a code to slice the first 3 characters from the string "Python Programming".

str1 = "Python Programming"
print(str1[:3])

Pyt

In [ ]:
# Que 4:- Write a code to convert the string "hello" to uppercase.

str2 = "hello"
print(str2.upper())

HELLO

In [ ]:
# Que 5:-Write a code to replace the word "apple" with "orange" in the string "I like apple".

str3 = "I like apple"
print(str3.replace("apple", "orange"))

I like orange

In [ ]:
# Que 6"- Write a code to create a list with numbers 1 to 5 and print it.

list1 = [1, 2, 3, 4, 5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
# Que 7:- Write a code to append the number 10 to the list [1, 2, 3, 4].

list2 = [1, 2, 3, 4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [ ]:
# Que 8:- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list3 = [1, 2, 3, 4, 5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [ ]:
# Que 9:- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list4 = ['a', 'b', 'c', 'd']
print(list4[1])

b

In [ ]:
# Que 10:- Write a code to reverse the list [10, 20, 30, 40, 50].

list5 = [10, 20, 30, 40, 50]
print(list5[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# Que 11:- Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [ ]:
# Que 12:- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple2 = ('red', 'green', 'blue', 'yellow')
print(tuple2[-2])

blue

In [ ]:
# Que 13:- Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple3 = (10, 20, 5, 15)
print(min(tuple3))

5

In [ ]:
# Que 14:- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple4 = ('dog', 'cat', 'rabbit')
print(tuple4.index("cat"))

1

In [ ]:
# Que 15:- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple5 = ("pineapple", "banana", "orange")
if "kiwi" in tuple5:
  print("kiwi is in tuple5")
else:
  print("kiwi is not in tuple5")

kiwi is not in tuple5

In [ ]:
# Que 16:-  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 = {'a', 'b', 'c'}
print(set1)

{'b', 'c', 'a'}

In [ ]:
# Que 17:- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [ ]:
# Que 18:-  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [ ]:
# Que 19:- Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set4 = {1, 2, 3}
set5 = {3, 4, 5}
print(set4.union(set5))

{1, 2, 3, 4, 5}

In [ ]:
# Que 20:- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set6 = {1, 2, 3}
set7 = {2, 3, 4}
print(set6.intersection(set7))

{2, 3}

In [ ]:
# Que 21:- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict1 = {"name": "Utkarsh", "age": 28, "city": "Bangalore"}
print(dict1)

{'name': 'Utkarsh', 'age': 28, 'city': 'Bangalore'}

In [ ]:
# Que 22:- Write a code to add a new key–value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Que 23:- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict3 = {'name': 'Alice', 'age': 30}
print(dict3["name"])

Alice

In [ ]:
# Que 24:- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop("age")
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Que 25:- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict5 = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict5:
  print("city is in dict5")
else:
  print("city is not in dict5")

city is in dict5

In [ ]:
# Que 26:- Write a code to create a list, a tuple, and a dictionary, and print them all.

list1 = [1, 2, 3, 4]
tuple1 = (1, 2, 3, 4)
dict1 = {"name": "Utkarsh", "age": 28}

print("List ", list1)
print("Tuple ", tuple1)
print("Dictionary ", dict1)

List  [1, 2, 3, 4]
Tuple  (1, 2, 3, 4)
Dictionary  {'name': 'Utkarsh', 'age': 28}

In [ ]:
# Que 27:- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random

list2 = []
for i in range(5):
  list2.append(random.randint(1, 100))

list2.sort()
print(list2)

[7, 39, 63, 72, 74]

In [ ]:
# Que 28:- Write a code to create a list with strings and print the element at the third index.

list3 = ["one", "two", "three", "four", "five"]
print(list3[2])

three

In [ ]:
# Que 29:- Write a code to combine two dictionaries into one and print the result.

dict6 = {"name": "Utkarsh", "age": 28}
dict7 = {"city": "Bangalore", "country": "India"}

dict6.update(dict7)
print(dict6)

{'name': 'Utkarsh', 'age': 28, 'city': 'Bangalore', 'country': 'India'}

In [ ]:
# Que 30:- Write a code to convert a list of strings into a set.

list4 = ["one", "two", "three", "four", "five"]
set1 = set(list4)
print(set1)

{'five', 'four', 'one', 'two', 'three'}